.gradient-custom {
    /* fallback for old browsers */
    background: #f6d365;
  
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right bottom, rgba(246, 211, 101, 1), rgba(253, 160, 133, 1));
  
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right bottom, rgba(246, 211, 101, 1), rgba(253, 160, 133, 1))
  }

  .profile-container{
    margin-top: 100px;
    margin-bottom: 80px;
  }

  .profile-wrapper{
    margin-left: 15%;
    margin-right: 50%;
  }

  .personal-info{
    margin-top: 4rem;
  }

  .profile-pic{
    border-radius: 50%;
    height: 10rem;
    width: 10rem;
    margin: 1rem 1rem;
  }

  .profile-lesson-card{
    width: 25rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: 3rem;
  }