.test-card-wrapper{
    width: 80rem;
    height: 200px;
    margin-top: 150px;
    /* margin-left: 28%; */
    margin-bottom: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* 
.card1 {
    margin-right: 20px;
} */
.button {
    font-size: large;
    font-weight: 400;
}