.interpret{
    margin-top: 5rem;
    display: block;
    width: 100%;
}

.card-interpret{
    width: auto;
    top: 50%;
    left: 0%;
}
/* 
.card{
   
    width: fit-content;
    object-fit: cover;
} */
