.test-card-wrapper{
    width: 120rem;
    height: 200px;
    margin-top: 150px;
    margin-left: 2%;
    margin-right: 10%;
    margin-bottom: 100px;
    display: flexbox;
}

.card1 {
    margin-right: 20px;
}

.card2 {
    margin-left: 20px;
    margin-right: 20px;
}

.card3 {
    margin-left: 20px;
    margin-right: 20px;
}

.card4 {
    margin-left: 20px;
    margin-right: 20px;
}

.card5, .card6, .card7, .card8, .card9, .card10{
    margin-left: 20px;
    margin-right: 20px;
}

.button {
    font-size: large;
    font-weight: 400;
}